@font-face {
  font-family: "SharpGroteskMedium20";
  src: url("./assets/fonts/SharpGrotesk-Medium20.otf");
}

@font-face {
  font-family: "SharpGroteskMedium25";
  src: url("./assets/fonts/SharpGrotesk-Medium25.otf");
}

@font-face {
  font-family: "SharpGroteskSemiBold25";
  src: url("./assets/fonts/SharpGrotesk-SemiBold25.otf");
}

@font-face {
  font-family: "SharpGroteskBook20";
  src: url("./assets/fonts/SharpGrotesk-Book20.otf");
}

@font-face {
  font-family: "SharpGroteskBook25";
  src: url("./assets/fonts/SharpGrotesk-Book25.otf");
}
