@import "root";
@import "fonts";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 25px 40px;
  background: var(--primary-color-pure-dark);
}

.header-titles {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;

  .header-title {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border-radius: 8px;
      background: var(--primary-color-dark);

      .header-title-arrow {
        transition: transform 0.3s ease;
        transform: rotate(180deg);
      }
    }

    .header-title-text {
      display: flex;
      color: var(--secondary-color-dark);
      font-size: 16px;
      font-weight: 500;
      line-height: 21px;
      text-decoration: none;
      font-family: SharpGroteskMedium25;

      .header-title-arrow {
        width: 16px;
        height: 16px;
        margin-left: 5px;
      }
    }

    .dropdown-who-we-are {
      display: none;
      position: absolute;
      background-color: #333;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    .dropdown-services {
      display: none;
      position: absolute;
      background-color: #333;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }
  }

  .header-title-contact-us {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .header-title-contact-us-text {
      display: flex;
      color: var(--secondary-color-dark);
      font-size: 16px;
      font-weight: 500;
      line-height: 21px;
      text-decoration: none;
      font-family: SharpGroteskMedium25;

      .contact-us-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px 4px 4px 15px;
        background: var(--primary-color-dark);
        border-radius: 40px;
      }

      .contact-us-text {
        font-size: 16px;
        font-weight: 500;
        line-height: 21px;
        margin-right: 28px;
      }

      .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background: var(--secondary-color-dark);
      }
    }
  }
}

.header-titles li:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  padding: 10px;
}

#greeting-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 225px 295px 185px 295px;
  margin-bottom: 185px;
  height: calc(100vh - 91px);

  .greeting {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .greeting-msg-welcome {
      display: flex;
      align-items: center;
      color: var(--primary-color-dreamy-periwinkle);
      padding: 4px 8px;
      border-radius: 48px;
      border: 1px solid var(--primary-color-dark);
      font-size: 16px;
      font-weight: 600;
      line-height: 21px;
      margin-bottom: 25px;
      font-family: SharpGroteskSemiBold25;

      .code-symbol {
        font-family: SharpGroteskBook20;
        font-size: 14px;
        font-weight: 400;
      }
    }

    .greeting-msg-cta {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 40px;

      .contact-us-btn {
        padding: 15px 25px;
        border-radius: 8px;
        background: var(--secondary-color-dark);
        color: var(--primary-color-dark);
        font-size: 16px;
        font-family: SharpGroteskMedium25;
        font-weight: 500;
        line-height: 21px;

        .contact-us-btn-arrow {
          margin-left: 10px;
        }
      }

      .custom-search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 456px;
        height: 50px;
        border: 2px solid var(--secondary-color-dark);
        border-radius: 8px;
        margin-left: 25px;
        padding: 17px 25px;

        .custom-search-input {
          border: none;
          outline: none;
          background: inherit;
          color: var(--secondary-color-dark);
          font-size: 14px;
          font-family: SharpGroteskMedium25;
          font-weight: 500;
          line-height: 21px;
        }
        .custom-search-button {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 15px 25px;
          font-size: 14px;
          font-family: SharpGroteskMedium25;
          font-weight: 500;
          line-height: 21px;
          color: var(--primary-color-dark);
          background: var(--secondary-color-dark);
          border-radius: 8px;
          outline: none;
          border: none;
          position: absolute;
          right: 3px;
          top: 3px;
          bottom: 3px;

          .subscribe-bell {
            margin-right: 5px;
          }
        }

        ::placeholder {
          color: var(--secondary-color-dark);
        }
      }
    }
  }
}

#parallax-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--secondary-color-dark);
  padding: 55px 0;

  .parallax-text-left,
  .parallax-text-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 24px;
    white-space: nowrap;
    width: 100vw;

    .parallax-text-branches {
      color: var(--primary-color-pure-dark);
      font-size: 78px;
      font-weight: 400;
      margin-right: 40px;

      .parallax-text-branches-symbol {
        color: var(--primary-color-cosmic-blue);
        text-align: center;
        font-size: 78px;
        font-weight: 400;
      }
    }
  }

  @keyframes slide-left {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @keyframes slide-right {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }

  .parallax-text-left {
    animation: slide-left 8s linear infinite;
  }

  .parallax-text-right {
    animation: slide-right 8s linear infinite;
  }
}

#our-services-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0 30px 0;

  .our-services-main-codetext {
    color: var(--primary-color-dreamy-periwinkle);
    border-radius: 48px;
    padding: 4px 8px;
    border: 1px solid var(--primary-color-dark);
    font-size: 16px;
    font-family: SharpGroteskSemiBold25;
    font-weight: 600;
    line-height: 21px;

    .code-symbol {
      font-family: SharpGroteskBook20;
      font-size: 14px;
      font-weight: 400;
    }
  }

  .our-services-main-text {
    margin-top: 30px;
    color: var(--secondary-color-dark);
    text-align: center;
    font-size: 54px;
    font-family: SharpGroteskSemiBold25;
    font-weight: 600;
  }

  .our-services-main-subtext {
    max-width: 651px;
    margin-top: 25px;
    color: var(--primary-color-cosmic-blue);
    text-align: center;
    font-size: 24px;
    font-family: SharpGroteskMedium20;
    font-weight: 500;
    line-height: 32px;
  }

  .explore-mecy {
    margin-top: 40px;
    display: flex;
    align-items: center;
    color: var(--secondary-color-dark);
    font-size: 16px;
    font-family: SharpGroteskMedium25;
    font-weight: 400;
    line-height: 21px;

    .explore-mecy-arrow-right {
      margin-left: 8px;
    }
  }
}

#triple-component {
  display: flex;
  justify-content: center;
  padding: 30px 165px 100px 165px;
  background: var(--primary-color-pure-dark);
  height: fit-content;

  .big-triple {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border-radius: 24px;
    background: var(--primary-color-dark);
    box-shadow: 0px 3px 4px 0px var(--primary-color-cosmic-blue) inset;
    width: 797px;
    height: 506px;
    padding: 40px 60px;
    gap: 25px;
    margin-right: 30px;

    .triple-title {
      color: var(--secondary-color-dark);
      font-family: SharpGroteskSemiBold25;
      font-size: 32px;
      font-weight: 600;
    }

    .triple-description {
      color: var(--texts-text-invert, #b3bafb);
      font-family: SharpGroteskMedium20;
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
    }

    .triple-btn {
      color: var(--secondary-color-dark);
      font-family: SharpGroteskMedium25;
      font-size: 16px;
      font-weight: 500;
      line-height: 21px;
      align-self: end;

      .triple-btn-icon {
        margin-left: 8px;
      }
    }
  }

  .right-side-triple {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .small-triple {
      border-radius: 24px;
      background: var(--primary-color-dark);
      box-shadow: 0px 3px 4px 0px var(--primary-color-cosmic-blue) inset;
      display: flex;
      width: 572px;
      height: 237px;
      padding: 40px 60px;
      flex-direction: column;
      align-items: flex-start;
      gap: 25px;

      .triple-title {
        color: var(--secondary-color-dark);
        font-family: SharpGroteskSemiBold25;
        font-size: 32px;
        font-weight: 600;
      }
      .triple-description {
        color: var(--texts-text-invert, #b3bafb);
        font-family: SharpGroteskMedium20;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
      }
    }
  }
}

#digital-echos-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 165px 100px 165px;
  margin-top: 30px;

  .digital-echos-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 16px;
    width: 1401px;
    height: fit-content;
    background: var(--active-color-normal);
    padding: 40px;

    .digital-echos-list {
      margin-bottom: 25px;
      color: var(--secondary-color-dark);
      font-size: 32px;
      font-family: SharpGroteskSemiBold25;
      font-weight: 600;
      max-width: 650px;
    }

    .digital-echos-text {
      max-width: 650px;
      margin-bottom: 25px;
      color: var(--primary-color-celestial-lavender);
      font-size: 18px;
      font-family: SharpGroteskMedium25;
      font-weight: 500;
      line-height: 22px;
    }

    .digital-echos-email {
      color: var(--secondary-color-dark);
      font-size: 16px;
      font-family: SharpGroteskMedium25;
      font-weight: 500;
      line-height: 21px;
      margin-bottom: 65px;
    }
  }
}

#our-values-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 100px 165px 0 165px;

  .our-values {
    font-size: 16px;
    font-family: SharpGroteskSemiBold25;
    font-weight: 600;
    line-height: 21px;
    color: var(--primary-color-dreamy-periwinkle);
    border-radius: 48px;
    padding: 4px 8px;
    border: 1px solid var(--primary-color-dark);

    .code-symbol {
      font-family: SharpGroteskBook20;
      font-size: 14px;
      font-weight: 400;
    }
  }

  .choose-mecy {
    font-size: 54px;
    font-family: SharpGroteskSemiBold25;
    font-weight: 600;
    margin-top: 25px;
    color: var(--secondary-color-dark);
    text-align: center;
  }

  .crafting {
    margin-top: 25px;
    color: var(--primary-color-cosmic-blue);
    text-align: center;
    font-size: 24px;
    font-family: SharpGroteskMedium20;
    font-weight: 500;
    line-height: 32px;
  }

  .view-all-btn {
    margin-top: 25px;
    padding: 15px 25px;
    border-radius: 8px;
    background: var(--secondary-color-dark);
    outline: none;
    border: none;
    color: var(--primary-color-dark);
    font-family: SharpGroteskMedium25;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;

    .view-all-btn-icon {
      margin-left: 10px;
    }
  }
}

#values-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 100px 0;

  .company-value {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    max-width: 360px;
    min-height: 420px;
    margin: 0 15px;

    .values-img-background {
      padding: 35px;
      border-radius: 40px;
      border: 2px solid var(--primary-color-pure-dark);
      background: var(--primary-color-dark);
      box-shadow: 0px 3px 4px 0px #555bfb inset,
        0px 6px 20px 0px rgba(29, 16, 182, 0.6);
    }

    .values-title {
      margin-top: 40px;
      color: var(--secondary-color-dark);
      text-align: center;
      font-family: SharpGroteskMedium25;
      font-size: 24px;
      font-weight: 500;
      line-height: 32px;
    }

    .values-description {
      margin-top: 40px;
      overflow: hidden;
      color: var(--primary-color-dreamy-periwinkle);
      text-overflow: ellipsis;
      white-space: wrap;
      font-family: SharpGroteskBook20;
      font-size: 16px;
      font-weight: 400;
      line-height: 21px;
      text-align: left;

      .values-description-first-line {
        color: var(--secondary-color-dark);
      }
    }
  }
}

#our-portfolio-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #fff;
  padding: 100px 0 100px 295px;

  .our-portfolio-section-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;

    .our-portfolio-section-main-title {
      color: var(--primary-color-cosmic-blue);
      font-family: SharpGroteskSemiBold25;
      font-size: 16px;
      font-weight: 600;
      line-height: 21px;
      border-radius: 48px;
      border: 1px solid var(--primary-color-dark);

      .code-symbol {
        font-family: SharpGroteskBook20;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
      }
    }

    .our-portfolio-section-main-text {
      color: var(--primary-color-deep-dark);
      font-family: SharpGroteskSemiBold25;
      font-size: 54px;
      font-weight: 600;
      width: 650px;
    }

    .our-portfolio-section-main-subText {
      color: var(--primary-color-cosmic-blue);
      font-family: SharpGroteskMedium20;
      font-size: 24px;
      font-weight: 500;
      line-height: 32px;
      width: 650px;
    }

    .our-portfolio-section-main-view-all-cases-btn {
      margin-top: 25px;
      padding: 15px 25px;
      border-radius: 8px;
      background: var(--secondary-color-dark);
      outline: none;
      border: none;
      color: var(--primary-color-dark);
      font-family: SharpGroteskMedium25;
      font-size: 16px;
      font-weight: 500;
      line-height: 21px;

      .view-all-btn-icon {
        margin-left: 10px;
      }
    }

    .case-category {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 20px;

      .case-category-form {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .form-check {
          display: flex;
          align-items: flex-start;
          border-radius: 8px;
          background: var(--primary-color-ethereal-white);
          padding: 8px;
          min-width: 245px;
          gap: 10px;

          &:hover {
            background: var(--primary-color-dreamy-periwinkle);
          }

          .form-check-input {
          }

          .form-check-label {
            color: var(--primary-color-deep-dark);
            font-family: SharpGroteskMedium20;
            font-size: 18px;
            font-weight: 500;
            line-height: 22px;
          }
        }
      }

      .card-box {
        display: flex;
        flex-direction: column;
        position: relative;
        max-width: 358px;
        max-height: 468px;

        .card-box-image {
          position: relative;
        }

        .card-box-circle {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          align-self: end;
          width: 34px;
          height: 34px;
          border-radius: 50%;
          background: white;
          top: 3%;
          right: 3%;
        }

        .card-box-description {
          color: var(--texts-text-brand-secondary, #555bfb);
          font-family: SharpGroteskBook20;
          font-size: 16px;
          font-weight: 400;
          line-height: 21px;

          .brand-name {
            color: var(--primary-color-dark);
            font-family: SharpGroteskSemiBold25;
            font-size: 18px;
            font-weight: 600;
            line-height: 22px;
          }

          .ui-design {
            color: var(--primary-color-dark);
            font-family: SharpGroteskBook20;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
          }
        }
      }
    }
  }
}

#media-center-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 100px 295px;

  .media-center-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

    .media-center-title {
      font-family: SharpGroteskSemiBold25;
      font-size: 16px;
      font-weight: 600;
      line-height: 21px;
      border-radius: 48px;
      border: 1px solid var(--primary-color-dark);
      color: var(--primary-color-cosmic-blue);

      .code-symbol {
        font-family: SharpGroteskBook20;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
      }
    }

    .media-center-main-text {
      text-align: center;
      color: var(--primary-color-deep-dark);
      font-family: SharpGroteskSemiBold25;
      font-size: 54px;
      font-weight: 600;
      width: 650px;
    }

    .media-center-main-subText {
      text-align: center;
      color: var(--primary-color-cosmic-blue);
      font-family: SharpGroteskMedium20;
      font-size: 24px;
      font-weight: 500;
      line-height: 32px;
      width: 650px;
    }

    .media-center-cta-btn {
      margin-top: 25px;
      padding: 15px 25px;
      border-radius: 8px;
      background: var(--secondary-color-dark);
      outline: none;
      border: none;
      color: var(--primary-color-dark);
      font-family: SharpGroteskMedium25;
      font-size: 16px;
      font-weight: 500;
      line-height: 21px;

      .view-all-btn-icon {
        margin-left: 10px;
      }
    }
  }

  #carouselExample {
    margin-top: 60px;
    .carousel-inner {
      max-width: 1286px;
      padding: 3rem;

      .carousel-item {
        width: 358px;
        .card {
          width: 358px;
          height: 610px;
          margin: 0 0.5em;
          border: none;

          .img-wrapper {
            display: flex;
            justify-content: center;
            align-items: flex-start;
          }

          .card-body {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: flex-start;
            width: 358px;
            padding: 25px 15px;
            gap: 25px;
            border-radius: 0px 0px 24px 24px;
            background: var(--primary-color-ethereal-white);

            .card-title {
              color: var(--primary-color-dark);
              font-family: SharpGroteskSemiBold25;
              font-size: 18px;
              font-weight: 600;
              line-height: 22px;
            }

            .card-text {
              overflow: hidden;
              color: var(--primary-color-cosmic-blue);
              text-overflow: ellipsis;
              font-family: SharpGroteskBook20;
              font-size: 16px;
              font-weight: 400;
              line-height: 21px;
            }

            .card-btn {
              color: var(--primary-color-dark);
              font-family: SharpGroteskMedium25;
              font-size: 16px;
              font-weight: 500;
              line-height: 21px;
              align-self: flex-end;
            }
          }
        }
      }
    }

    .carousel-control-prev,
    .carousel-control-next {
      width: 34px;
      height: 34px;
      background-color: var(--primary-color-dark);
      border-radius: 50%;
      top: 50%;
      opacity: 1;
      transform: translateY(-50%);

      carousel-control-prev-icon,
      carousel-control-next-icon {
        width: 12px;
        height: 17px;
      }
    }

    @media screen and (min-width: 576px) {
      .carousel-inner {
        display: flex;

        .carousel-item {
          display: block;
          margin-right: 15px;
          flex: 0 0 calc(100% / 3);
        }
      }
    }
  }
}

#busters-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 100px 295px;

  .busters-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

    .busters-title {
      font-family: SharpGroteskSemiBold25;
      font-size: 16px;
      font-weight: 600;
      line-height: 21px;
      border-radius: 48px;
      border: 1px solid var(--primary-color-dark);
      color: var(--primary-color-cosmic-blue);

      .code-symbol {
        font-family: SharpGroteskBook20;
        font-size: 14px;
        font-weight: 400;
      }
    }

    .busters-mainText {
      text-align: center;
      color: var(--primary-color-deep-dark);
      font-family: SharpGroteskSemiBold25;
      font-size: 54px;
      font-weight: 600;
      width: 650px;
    }

    .busters-answer {
      display: flex;
      color: var(--secondary-color-dark);
      font-size: 16px;
      font-weight: 500;
      line-height: 21px;
      text-decoration: none;
      font-family: SharpGroteskMedium25;

      .busters-answer-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px 4px 4px 15px;
        background: var(--primary-color-dark);
        border-radius: 40px;

        .busters-answer-text {
          font-size: 16px;
          font-weight: 500;
          line-height: 21px;
          margin-right: 28px;
        }

        .circle {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 34px;
          height: 34px;
          border-radius: 50%;
          background: var(--secondary-color-dark);
        }
      }
    }
  }

  .accordionPart {
    width: 100%;
    margin-top: 60px;

    .accordion {
      border-radius: 24px;
      .accordion-item {
        margin-top: 10px;
        border-radius: 24px;
        .accordion-header {
          border-radius: 24px;
          .accordion-button {
            color: var(--primary-color-cosmic-blue);
            font-family: SharpGroteskMedium20;
            font-size: 24px;
            font-weight: 500;
            line-height: 32px;
            border-top-left-radius: 24px;
            border-top-right-radius: 24px;
            border: 1px solid var(--primary-color-dreamy-periwinkle);
            background: var(--primary-color-ethereal-white);

            &:focus {
              box-shadow: none;
            }
          }
        }
        .accordion-line {
          .accordion-body {
            color: var(--primary-color-cosmic-blue);
            font-family: SharpGroteskBook20;
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
            border-bottom-left-radius: 24px;
            border-bottom-right-radius: 24px;
            background: var(--primary-color-ethereal-white);
          }
        }
      }
    }
  }
}
