:root {
  --primary-color-pure-dark: #04002d;
  --primary-color-deep-dark: #070052;
  --primary-color-dark: #1d10b6;
  --primary-color-cosmic-blue: #555bfb;
  --primary-color-dreamy-periwinkle: #b3bafb;
  --primary-color-celestial-lavender: #dbdeff;
  --primary-color-ethereal-white: #f7f6ff;
  --secondary-color-dark: #bcf178;
  --secondary-color-normal: #deffb5;
  --secondary-color-light: #f6ffea;
  --neutral-color-dark: #1a1928;
  --neutral-color-normal: #1a1928b2;
  --neutral-color-light: #5f5e6966;
  --active-color-dark: #006ae3;
  --active-color-normal: #248aff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: var(--primary-color-pure-dark) !important;
  overflow-x: hidden;
}

h1 {
  font-family: SharpGroteskSemiBold25;
  font-size: 78px;
  font-weight: 600;
  color: var(--secondary-color-dark);
}

h5 {
  color: var(--primary-color-cosmic-blue);
  font-family: SharpGroteskMedium20;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
}

@font-face {
  font-family: "SharpGroteskMedium20";
  src: url("./assets/fonts/SharpGrotesk-Medium20.otf");
}
@font-face {
  font-family: "SharpGroteskMedium25";
  src: url("./assets/fonts/SharpGrotesk-Medium25.otf");
}
@font-face {
  font-family: "SharpGroteskSemiBold25";
  src: url("./assets/fonts/SharpGrotesk-SemiBold25.otf");
}
@font-face {
  font-family: "SharpGroteskBook20";
  src: url("./assets/fonts/SharpGrotesk-Book20.otf");
}
#greeting-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 225px 295px 185px 295px;
  margin-bottom: 185px;
  height: calc(100vh - 91px);
}
#greeting-section .greeting {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
#greeting-section .greeting .greeting-msg-welcome {
  display: flex;
  align-items: center;
  color: var(--primary-color-dreamy-periwinkle);
  padding: 4px 8px;
  border-radius: 48px;
  border: 1px solid var(--primary-color-dark);
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  margin-bottom: 25px;
  font-family: SharpGroteskSemiBold25;
}
#greeting-section .greeting .greeting-msg-welcome .code-symbol {
  font-family: SharpGroteskBook20;
  font-size: 14px;
  font-weight: 400;
}
#greeting-section .greeting .greeting-msg-cta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
}
#greeting-section .greeting .greeting-msg-cta .contact-us-btn {
  padding: 15px 25px;
  border-radius: 8px;
  background: var(--secondary-color-dark);
  color: var(--primary-color-dark);
  font-size: 16px;
  font-family: SharpGroteskMedium25;
  font-weight: 500;
  line-height: 21px;
}
#greeting-section .greeting .greeting-msg-cta .contact-us-btn .contact-us-btn-arrow {
  margin-left: 10px;
}
#greeting-section .greeting .greeting-msg-cta .custom-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 456px;
  height: 50px;
  border: 2px solid var(--secondary-color-dark);
  border-radius: 8px;
  margin-left: 25px;
  padding: 17px 25px;
}
#greeting-section .greeting .greeting-msg-cta .custom-search .custom-search-input {
  border: none;
  outline: none;
  background: inherit;
  color: var(--secondary-color-dark);
  font-size: 14px;
  font-family: SharpGroteskMedium25;
  font-weight: 500;
  line-height: 21px;
}
#greeting-section .greeting .greeting-msg-cta .custom-search .custom-search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
  font-size: 14px;
  font-family: SharpGroteskMedium25;
  font-weight: 500;
  line-height: 21px;
  color: var(--primary-color-dark);
  background: var(--secondary-color-dark);
  border-radius: 8px;
  outline: none;
  border: none;
  position: absolute;
  right: 3px;
  top: 3px;
  bottom: 3px;
}
#greeting-section .greeting .greeting-msg-cta .custom-search .custom-search-button .subscribe-bell {
  margin-right: 5px;
}
#greeting-section .greeting .greeting-msg-cta .custom-search ::placeholder {
  color: var(--secondary-color-dark);
}

#parallax-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--secondary-color-dark);
  padding: 55px 0;
}
#parallax-section .parallax-text-left,
#parallax-section .parallax-text-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 24px;
  white-space: nowrap;
  width: 100vw;
}
#parallax-section .parallax-text-left .parallax-text-branches,
#parallax-section .parallax-text-right .parallax-text-branches {
  color: var(--primary-color-pure-dark);
  font-size: 78px;
  font-weight: 400;
  margin-right: 40px;
}
#parallax-section .parallax-text-left .parallax-text-branches .parallax-text-branches-symbol,
#parallax-section .parallax-text-right .parallax-text-branches .parallax-text-branches-symbol {
  color: var(--primary-color-cosmic-blue);
  text-align: center;
  font-size: 78px;
  font-weight: 400;
}
@keyframes slide-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes slide-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
#parallax-section .parallax-text-left {
  animation: slide-left 8s linear infinite;
}
#parallax-section .parallax-text-right {
  animation: slide-right 8s linear infinite;
}

#our-services-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0 30px 0;
}
#our-services-section .our-services-main-codetext {
  color: var(--primary-color-dreamy-periwinkle);
  border-radius: 48px;
  padding: 4px 8px;
  border: 1px solid var(--primary-color-dark);
  font-size: 16px;
  font-family: SharpGroteskSemiBold25;
  font-weight: 600;
  line-height: 21px;
}
#our-services-section .our-services-main-codetext .code-symbol {
  font-family: SharpGroteskBook20;
  font-size: 14px;
  font-weight: 400;
}
#our-services-section .our-services-main-text {
  margin-top: 30px;
  color: var(--secondary-color-dark);
  text-align: center;
  font-size: 54px;
  font-family: SharpGroteskSemiBold25;
  font-weight: 600;
}
#our-services-section .our-services-main-subtext {
  max-width: 651px;
  margin-top: 25px;
  color: var(--primary-color-cosmic-blue);
  text-align: center;
  font-size: 24px;
  font-family: SharpGroteskMedium20;
  font-weight: 500;
  line-height: 32px;
}
#our-services-section .explore-mecy {
  margin-top: 40px;
  display: flex;
  align-items: center;
  color: var(--secondary-color-dark);
  font-size: 16px;
  font-family: SharpGroteskMedium25;
  font-weight: 400;
  line-height: 21px;
}
#our-services-section .explore-mecy .explore-mecy-arrow-right {
  margin-left: 8px;
}

#triple-component {
  display: flex;
  justify-content: center;
  padding: 30px 165px 100px 165px;
  background: var(--primary-color-pure-dark);
  height: fit-content;
}
#triple-component .big-triple {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 24px;
  background: var(--primary-color-dark);
  box-shadow: 0px 3px 4px 0px var(--primary-color-cosmic-blue) inset;
  width: 797px;
  height: 506px;
  padding: 40px 60px;
  gap: 25px;
  margin-right: 30px;
}
#triple-component .big-triple .triple-title {
  color: var(--secondary-color-dark);
  font-family: SharpGroteskSemiBold25;
  font-size: 32px;
  font-weight: 600;
}
#triple-component .big-triple .triple-description {
  color: var(--texts-text-invert, #b3bafb);
  font-family: SharpGroteskMedium20;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}
#triple-component .big-triple .triple-btn {
  color: var(--secondary-color-dark);
  font-family: SharpGroteskMedium25;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  align-self: end;
}
#triple-component .big-triple .triple-btn .triple-btn-icon {
  margin-left: 8px;
}
#triple-component .right-side-triple {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#triple-component .right-side-triple .small-triple {
  border-radius: 24px;
  background: var(--primary-color-dark);
  box-shadow: 0px 3px 4px 0px var(--primary-color-cosmic-blue) inset;
  display: flex;
  width: 572px;
  height: 237px;
  padding: 40px 60px;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}
#triple-component .right-side-triple .small-triple .triple-title {
  color: var(--secondary-color-dark);
  font-family: SharpGroteskSemiBold25;
  font-size: 32px;
  font-weight: 600;
}
#triple-component .right-side-triple .small-triple .triple-description {
  color: var(--texts-text-invert, #b3bafb);
  font-family: SharpGroteskMedium20;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

#digital-echos-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 165px 100px 165px;
  margin-top: 30px;
}
#digital-echos-section .digital-echos-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px;
  width: 1401px;
  height: fit-content;
  background: var(--active-color-normal);
  padding: 40px;
}
#digital-echos-section .digital-echos-main .digital-echos-list {
  margin-bottom: 25px;
  color: var(--secondary-color-dark);
  font-size: 32px;
  font-family: SharpGroteskSemiBold25;
  font-weight: 600;
  max-width: 650px;
}
#digital-echos-section .digital-echos-main .digital-echos-text {
  max-width: 650px;
  margin-bottom: 25px;
  color: var(--primary-color-celestial-lavender);
  font-size: 18px;
  font-family: SharpGroteskMedium25;
  font-weight: 500;
  line-height: 22px;
}
#digital-echos-section .digital-echos-main .digital-echos-email {
  color: var(--secondary-color-dark);
  font-size: 16px;
  font-family: SharpGroteskMedium25;
  font-weight: 500;
  line-height: 21px;
  margin-bottom: 65px;
}

#our-values-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 100px 165px 0 165px;
}
#our-values-section .our-values {
  font-size: 16px;
  font-family: SharpGroteskSemiBold25;
  font-weight: 600;
  line-height: 21px;
  color: var(--primary-color-dreamy-periwinkle);
  border-radius: 48px;
  padding: 4px 8px;
  border: 1px solid var(--primary-color-dark);
}
#our-values-section .our-values .code-symbol {
  font-family: SharpGroteskBook20;
  font-size: 14px;
  font-weight: 400;
}
#our-values-section .choose-mecy {
  font-size: 54px;
  font-family: SharpGroteskSemiBold25;
  font-weight: 600;
  margin-top: 25px;
  color: var(--secondary-color-dark);
  text-align: center;
}
#our-values-section .crafting {
  margin-top: 25px;
  color: var(--primary-color-cosmic-blue);
  text-align: center;
  font-size: 24px;
  font-family: SharpGroteskMedium20;
  font-weight: 500;
  line-height: 32px;
}
#our-values-section .view-all-btn {
  margin-top: 25px;
  padding: 15px 25px;
  border-radius: 8px;
  background: var(--secondary-color-dark);
  outline: none;
  border: none;
  color: var(--primary-color-dark);
  font-family: SharpGroteskMedium25;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
}
#our-values-section .view-all-btn .view-all-btn-icon {
  margin-left: 10px;
}

#values-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 100px 0;
}
#values-list .company-value {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  max-width: 360px;
  min-height: 420px;
  margin: 0 15px;
}
#values-list .company-value .values-img-background {
  padding: 35px;
  border-radius: 40px;
  border: 2px solid var(--primary-color-pure-dark);
  background: var(--primary-color-dark);
  box-shadow: 0px 3px 4px 0px #555bfb inset, 0px 6px 20px 0px rgba(29, 16, 182, 0.6);
}
#values-list .company-value .values-title {
  margin-top: 40px;
  color: var(--secondary-color-dark);
  text-align: center;
  font-family: SharpGroteskMedium25;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}
#values-list .company-value .values-description {
  margin-top: 40px;
  overflow: hidden;
  color: var(--primary-color-dreamy-periwinkle);
  text-overflow: ellipsis;
  white-space: wrap;
  font-family: SharpGroteskBook20;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}
#values-list .company-value .values-description .values-description-first-line {
  color: var(--secondary-color-dark);
}

#our-portfolio-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #fff;
  padding: 100px 0 100px 295px;
}
#our-portfolio-section .our-portfolio-section-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 25px;
}
#our-portfolio-section .our-portfolio-section-main .our-portfolio-section-main-title {
  color: var(--primary-color-cosmic-blue);
  font-family: SharpGroteskSemiBold25;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  border-radius: 48px;
  border: 1px solid var(--primary-color-dark);
}
#our-portfolio-section .our-portfolio-section-main .our-portfolio-section-main-title .code-symbol {
  font-family: SharpGroteskBook20;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
#our-portfolio-section .our-portfolio-section-main .our-portfolio-section-main-text {
  color: var(--primary-color-deep-dark);
  font-family: SharpGroteskSemiBold25;
  font-size: 54px;
  font-weight: 600;
  width: 650px;
}
#our-portfolio-section .our-portfolio-section-main .our-portfolio-section-main-subText {
  color: var(--primary-color-cosmic-blue);
  font-family: SharpGroteskMedium20;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  width: 650px;
}
#our-portfolio-section .our-portfolio-section-main .our-portfolio-section-main-view-all-cases-btn {
  margin-top: 25px;
  padding: 15px 25px;
  border-radius: 8px;
  background: var(--secondary-color-dark);
  outline: none;
  border: none;
  color: var(--primary-color-dark);
  font-family: SharpGroteskMedium25;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
}
#our-portfolio-section .our-portfolio-section-main .our-portfolio-section-main-view-all-cases-btn .view-all-btn-icon {
  margin-left: 10px;
}
#our-portfolio-section .our-portfolio-section-main .case-category {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
#our-portfolio-section .our-portfolio-section-main .case-category .case-category-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#our-portfolio-section .our-portfolio-section-main .case-category .case-category-form .form-check {
  display: flex;
  align-items: flex-start;
  border-radius: 8px;
  background: var(--primary-color-ethereal-white);
  padding: 8px;
  min-width: 245px;
  gap: 10px;
}
#our-portfolio-section .our-portfolio-section-main .case-category .case-category-form .form-check:hover {
  background: var(--primary-color-dreamy-periwinkle);
}
#our-portfolio-section .our-portfolio-section-main .case-category .case-category-form .form-check .form-check-label {
  color: var(--primary-color-deep-dark);
  font-family: SharpGroteskMedium20;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}
#our-portfolio-section .our-portfolio-section-main .case-category .card-box {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 358px;
  max-height: 468px;
}
#our-portfolio-section .our-portfolio-section-main .case-category .card-box .card-box-image {
  position: relative;
}
#our-portfolio-section .our-portfolio-section-main .case-category .card-box .card-box-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  align-self: end;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: white;
  top: 3%;
  right: 3%;
}
#our-portfolio-section .our-portfolio-section-main .case-category .card-box .card-box-description {
  color: var(--texts-text-brand-secondary, #555bfb);
  font-family: SharpGroteskBook20;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}
#our-portfolio-section .our-portfolio-section-main .case-category .card-box .card-box-description .brand-name {
  color: var(--primary-color-dark);
  font-family: SharpGroteskSemiBold25;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}
#our-portfolio-section .our-portfolio-section-main .case-category .card-box .card-box-description .ui-design {
  color: var(--primary-color-dark);
  font-family: SharpGroteskBook20;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

#media-center-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 100px 295px;
}
#media-center-section .media-center-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
#media-center-section .media-center-cta .media-center-title {
  font-family: SharpGroteskSemiBold25;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  border-radius: 48px;
  border: 1px solid var(--primary-color-dark);
  color: var(--primary-color-cosmic-blue);
}
#media-center-section .media-center-cta .media-center-title .code-symbol {
  font-family: SharpGroteskBook20;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
#media-center-section .media-center-cta .media-center-main-text {
  text-align: center;
  color: var(--primary-color-deep-dark);
  font-family: SharpGroteskSemiBold25;
  font-size: 54px;
  font-weight: 600;
  width: 650px;
}
#media-center-section .media-center-cta .media-center-main-subText {
  text-align: center;
  color: var(--primary-color-cosmic-blue);
  font-family: SharpGroteskMedium20;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  width: 650px;
}
#media-center-section .media-center-cta .media-center-cta-btn {
  margin-top: 25px;
  padding: 15px 25px;
  border-radius: 8px;
  background: var(--secondary-color-dark);
  outline: none;
  border: none;
  color: var(--primary-color-dark);
  font-family: SharpGroteskMedium25;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
}
#media-center-section .media-center-cta .media-center-cta-btn .view-all-btn-icon {
  margin-left: 10px;
}
#media-center-section #carouselExample {
  margin-top: 60px;
}
#media-center-section #carouselExample .carousel-inner {
  max-width: 1286px;
  padding: 3rem;
}
#media-center-section #carouselExample .carousel-inner .carousel-item {
  width: 358px;
}
#media-center-section #carouselExample .carousel-inner .carousel-item .card {
  width: 358px;
  height: 610px;
  margin: 0 0.5em;
  border: none;
}
#media-center-section #carouselExample .carousel-inner .carousel-item .card .img-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#media-center-section #carouselExample .carousel-inner .carousel-item .card .card-body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  width: 358px;
  padding: 25px 15px;
  gap: 25px;
  border-radius: 0px 0px 24px 24px;
  background: var(--primary-color-ethereal-white);
}
#media-center-section #carouselExample .carousel-inner .carousel-item .card .card-body .card-title {
  color: var(--primary-color-dark);
  font-family: SharpGroteskSemiBold25;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}
#media-center-section #carouselExample .carousel-inner .carousel-item .card .card-body .card-text {
  overflow: hidden;
  color: var(--primary-color-cosmic-blue);
  text-overflow: ellipsis;
  font-family: SharpGroteskBook20;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}
#media-center-section #carouselExample .carousel-inner .carousel-item .card .card-body .card-btn {
  color: var(--primary-color-dark);
  font-family: SharpGroteskMedium25;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  align-self: flex-end;
}
#media-center-section #carouselExample .carousel-control-prev,
#media-center-section #carouselExample .carousel-control-next {
  width: 34px;
  height: 34px;
  background-color: var(--primary-color-dark);
  border-radius: 50%;
  top: 50%;
  opacity: 1;
  transform: translateY(-50%);
}
#media-center-section #carouselExample .carousel-control-prev carousel-control-prev-icon,
#media-center-section #carouselExample .carousel-control-prev carousel-control-next-icon,
#media-center-section #carouselExample .carousel-control-next carousel-control-prev-icon,
#media-center-section #carouselExample .carousel-control-next carousel-control-next-icon {
  width: 12px;
  height: 17px;
}
@media screen and (min-width: 576px) {
  #media-center-section #carouselExample .carousel-inner {
    display: flex;
  }
  #media-center-section #carouselExample .carousel-inner .carousel-item {
    display: block;
    margin-right: 15px;
    flex: 0 0 33.3333333333%;
  }
}

#busters-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 100px 295px 170px 295px;
}
#busters-section .busters-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
#busters-section .busters-cta .busters-title {
  font-family: SharpGroteskSemiBold25;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  border-radius: 48px;
  border: 1px solid var(--primary-color-dark);
  color: var(--primary-color-cosmic-blue);
}
#busters-section .busters-cta .busters-title .code-symbol {
  font-family: SharpGroteskBook20;
  font-size: 14px;
  font-weight: 400;
}
#busters-section .busters-cta .busters-mainText {
  text-align: center;
  color: var(--primary-color-deep-dark);
  font-family: SharpGroteskSemiBold25;
  font-size: 54px;
  font-weight: 600;
  width: 650px;
}
#busters-section .busters-cta .busters-answer {
  display: flex;
  color: var(--secondary-color-dark);
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  text-decoration: none;
  font-family: SharpGroteskMedium25;
}
#busters-section .busters-cta .busters-answer .busters-answer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 4px 4px 15px;
  background: var(--primary-color-dark);
  border-radius: 40px;
}
#busters-section .busters-cta .busters-answer .busters-answer-header .busters-answer-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  margin-right: 28px;
}
#busters-section .busters-cta .busters-answer .busters-answer-header .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: var(--secondary-color-dark);
}
#busters-section .accordionPart {
  width: 100%;
  margin-top: 60px;
}
#busters-section .accordionPart .accordion {
  border-radius: 24px;
}
#busters-section .accordionPart .accordion .accordion-item {
  margin-top: 10px;
  border-radius: 24px;
}
#busters-section .accordionPart .accordion .accordion-item .accordion-header {
  border-radius: 24px;
}
#busters-section .accordionPart .accordion .accordion-item .accordion-header .accordion-button {
  color: var(--primary-color-cosmic-blue);
  font-family: SharpGroteskMedium20;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border: 1px solid var(--primary-color-dreamy-periwinkle);
  background: var(--primary-color-ethereal-white);
}
#busters-section .accordionPart .accordion .accordion-item .accordion-header .accordion-button:focus {
  box-shadow: none;
}
#busters-section .accordionPart .accordion .accordion-item .accordion-line .accordion-body {
  color: var(--primary-color-cosmic-blue);
  font-family: SharpGroteskBook20;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  background: var(--primary-color-ethereal-white);
}

#form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: var(--primary-color-pure-dark);
  padding: 100px 295px;
}
#form-section .form-main .form-title {
  width: fit-content;
  font-family: SharpGroteskSemiBold25;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  border-radius: 48px;
  border: 1px solid var(--primary-color-dark);
  color: var(--primary-color-cosmic-blue);
}
#form-section .form-main .form-title .code-symbol {
  font-family: SharpGroteskBook20;
  font-size: 14px;
  font-weight: 400;
}
#form-section .form-main .form-question {
  margin-top: 25px;
  color: var(--secondary-color-dark);
  font-family: SharpGroteskSemiBold25;
  font-size: 43px;
  font-weight: 600;
}
#form-section .form-main form {
  width: 456px;
  margin-top: 60px;
}
#form-section .form-main form input,
#form-section .form-main form select,
#form-section .form-main form textarea {
  border: 2px solid var(--secondary-color-dark);
  border-radius: 20px;
  color: var(--secondary-color-dark);
  background: var(--primary-color-pure-dark);
  box-shadow: none;
}
#form-section .form-main form label {
  color: var(--secondary-color-dark);
}
#form-section .form-main form label::after {
  background: none;
  background-color: none;
}
#form-section .form-main form .form-switch .form-check-input {
  background-image: url(./assets/checkbox_round.svg);
  background-size: 12px 12px;
  background-repeat: no-repeat;
}
#form-section .form-main form .form-switch .form-check-input:checked {
  background-image: url(./assets/checkbox_round.svg);
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: right center;
}
#form-section .form-main form .btnformsubmit {
  display: flex;
  justify-content: flex-end;
}
#form-section .form-main form .btnformsubmit .formsubmitBtn {
  margin-top: 25px;
  padding: 15px 25px;
  border-radius: 8px;
  background: var(--secondary-color-dark);
  outline: none;
  border: none;
  color: var(--primary-color-dark);
  font-family: SharpGroteskMedium25;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
}
#form-section .form-main form .btnformsubmit .formsubmitBtn .btnIcon {
  margin-left: 10px;
}

footer {
  background: var(--primary-color-pure-dark);
  padding: 100px 295px;
}
footer .footer-main .footer-first .footer-statement {
  display: flex;
  margin-top: 45px;
  max-width: 557px;
  height: 70px;
  color: var(--primary-color-cosmic-blue);
  font-family: SharpGroteskSemiBold25;
  font-size: 32px;
  font-weight: 600;
}
footer .footer-main .footer-first .footer-statement .footer-statement-text {
  margin-left: 10px;
  margin-right: 10px;
}
footer .footer-main .footer-second {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
footer .footer-main .footer-second .footer-address {
  margin-right: 185px;
}
footer .footer-main .footer-second .footer-address .footer-address-title {
  width: fit-content;
  font-family: SharpGroteskSemiBold25;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  border-radius: 48px;
  border: 1px solid var(--primary-color-dark);
  color: var(--primary-color-cosmic-blue);
}
footer .footer-main .footer-second .footer-address .footer-address-title .code-symbol {
  font-family: SharpGroteskBook20;
  font-size: 14px;
  font-weight: 400;
}
footer .footer-main .footer-second .footer-address .footer-address-box {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
footer .footer-main .footer-second .footer-address .footer-address-box .footer-address-box-locationIcon {
  display: flex;
  align-self: flex-start;
  margin-right: 10px;
}
footer .footer-main .footer-second .footer-address .footer-address-box .footer-address-box-locationContent .footer-address-box-locationContent-country {
  color: var(--secondary-color-dark);
  font-family: SharpGroteskMedium25;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}
footer .footer-main .footer-second .footer-address .footer-address-box .footer-address-box-locationContent .footer-address-box-locationContent-address {
  margin-top: 15px;
  color: var(--primary-color-cosmic-blue);
  font-family: SharpGroteskBook20;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}
footer .footer-main .footer-second .footer-address .footer-address-box .footer-address-box-locationContent .footer-address-box-locationContent-email {
  margin-top: 15px;
  display: flex;
  align-items: center;
  color: var(--secondary-color-dark);
  font-size: 16px;
  font-family: SharpGroteskMedium25;
  font-weight: 400;
  line-height: 21px;
}
footer .footer-main .footer-second .footer-address .footer-address-box .footer-address-box-locationContent .footer-address-box-locationContent-email .footer-address-box-locationContent-arrow-right {
  margin-left: 8px;
}
footer .footer-main .footer-second .footer-sidemap .footer-sidemap-title {
  width: fit-content;
  font-family: SharpGroteskSemiBold25;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  border-radius: 48px;
  border: 1px solid var(--primary-color-dark);
  color: var(--primary-color-cosmic-blue);
}
footer .footer-main .footer-second .footer-sidemap .footer-sidemap-title .code-symbol {
  font-family: SharpGroteskBook20;
  font-size: 14px;
  font-weight: 400;
}
footer .footer-main .footer-second .footer-sidemap .footer-sidemap-list {
  margin-top: 40px;
  display: flex;
  align-items: center;
  color: var(--secondary-color-dark);
  font-size: 16px;
  font-family: SharpGroteskMedium25;
  font-weight: 400;
  line-height: 21px;
}
footer .footer-main .footer-second .footer-sidemap .footer-sidemap-list .footer-sidemap-list-arrow-right {
  margin-left: 8px;
}
footer .footer-main .footer-third {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
footer .footer-main .footer-third .copyright {
  margin-top: 40px;
  display: flex;
  align-items: center;
  color: var(--secondary-color-dark);
  font-size: 16px;
  font-family: SharpGroteskMedium25;
  font-weight: 400;
  line-height: 21px;
}
footer .footer-main .footer-third .privacy {
  margin-top: 40px;
  display: flex;
  align-items: center;
  color: var(--secondary-color-dark);
  font-size: 16px;
  font-family: SharpGroteskMedium25;
  font-weight: 400;
  line-height: 21px;
}
footer .footer-main .footer-third .privacy .privacy-arrow-right {
  margin-left: 8px;
}
footer .footer-main .footer-third .cookie {
  margin-top: 40px;
  display: flex;
  align-items: center;
  color: var(--secondary-color-dark);
  font-size: 16px;
  font-family: SharpGroteskMedium25;
  font-weight: 400;
  line-height: 21px;
}
footer .footer-main .footer-third .cookie .cookie-arrow-right {
  margin-left: 8px;
}
footer .footer-main .footer-third .social-media {
  margin-top: 40px;
}
footer .footer-main .footer-third .social-media .social-media-logo {
  align-self: flex-end;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px;
  background: var(--primary-color-pure-dark);
}
header .header-titles {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
}
header .header-titles .header-title {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-titles .header-title:hover {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  background: var(--primary-color-dark);
}
header .header-titles .header-title:hover .header-title-arrow {
  transition: transform 0.3s ease;
  transform: rotate(180deg);
}
header .header-titles .header-title .header-title-text {
  display: flex;
  color: var(--secondary-color-dark);
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  text-decoration: none;
  font-family: SharpGroteskMedium25;
}
header .header-titles .header-title .header-title-text .header-title-arrow {
  width: 16px;
  height: 16px;
  margin-left: 5px;
}
header .header-titles .header-title .dropdown-who-we-are {
  display: none;
  position: absolute;
  background-color: #333;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header .header-titles .header-title .dropdown-services {
  display: none;
  position: absolute;
  background-color: #333;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header .header-titles .header-title-contact-us {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-titles .header-title-contact-us .header-title-contact-us-text {
  display: flex;
  color: var(--secondary-color-dark);
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  text-decoration: none;
  font-family: SharpGroteskMedium25;
}
header .header-titles .header-title-contact-us .header-title-contact-us-text .contact-us-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 4px 4px 15px;
  background: var(--primary-color-dark);
  border-radius: 40px;
}
header .header-titles .header-title-contact-us .header-title-contact-us-text .contact-us-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  margin-right: 28px;
}
header .header-titles .header-title-contact-us .header-title-contact-us-text .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: var(--secondary-color-dark);
}

/*# sourceMappingURL=styles.css.map */
