#digital-echos-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15% 100px 15%;
  margin-top: 30px;

  @media screen and (max-width: 576px) {
    padding: 0 20px 30px 20px;
    margin-top: 0 !important;
  }

  .digital-wrapper {
    border: 2px solid #04002d;
    border-radius: 25px;
    width: 100%;

    &:hover {
      border: 2px solid #555bfb;
      box-shadow: 0px 6px 40px 0px #1d10b6;
    }

    .digital-echos-main {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 24px;
      width: 100%;
      height: fit-content;
      background: var(--active-color-normal);
      padding: 40px;
      background-image: url(./assets/bg-image-blue-mask.jpeg);
      box-shadow: 0px 0px 4px 0px #555bfb inset;
      position: relative;

      .demBtn {
        position: relative;
      }

      .digital-echos-list {
        margin-bottom: 25px;
        color: var(--secondary-color-dark);
        font-size: 32px;
        font-family: SharpGroteskSemiBold25;
        font-weight: 600;
        max-width: 650px;
        line-height: normal;

        @media screen and (max-width: 576px) {
          font-size: 24px;
        }
      }

      .digital-echos-text {
        max-width: 650px;
        margin-bottom: 25px;
        color: var(--primary-color-celestial-lavender);
        font-size: 18px;
        font-family: SharpGroteskMedium25;
        font-weight: 500;
        line-height: 22px;

        @media screen and (max-width: 576px) {
          font-size: 16px;
        }
      }

      .digital-echos-email {
        color: var(--secondary-color-dark);
        font-size: 16px;
        font-family: SharpGroteskMedium25;
        font-weight: 500;
        line-height: 21px;
        margin-bottom: 65px;

        @media screen and (max-width: 576px) {
          font-size: 13px;
        }
      }

      .big-arrow {
        cursor: pointer;
      }

      &:hover {
        .demBtn {
          top: 15px;
        }
      }
    }
  }
}
