footer {
  background: var(--primary-color-pure-dark);
  padding: 100px 295px 40px 295px;
  margin-top: 50px;

  @media screen and (max-width: 320px) {
    padding: 20px;
  }

  .footer-main {
    .footer-first {
      margin-bottom: 80px;
      .footer-statement {
        display: flex;
        margin-top: 45px;
        max-width: 557px;
        height: fit-content;
        color: var(--primary-color-cosmic-blue);
        font-family: SharpGroteskSemiBold25;
        font-size: 32px;
        font-weight: 600;

        @media screen and (max-width: 320px) {
          max-width: 280px;
          height: fit-content;
        }

        .footer-statement-text {
          margin-left: 10px;
          margin-right: 10px;
        }

        .quotes {
          height: 30px;

          @media screen and (max-width: 320px) {
            height: 15px;
          }
        }
      }
    }
    .footer-second {
      margin-bottom: 80px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      @media screen and (max-width: 320px) {
        flex-direction: column;
        margin-bottom: 10px;
      }

      .footer-address {
        margin-right: 185px;

        @media screen and (max-width: 320px) {
          margin: 50px 0 0 0;
        }

        .footer-address-title {
          width: fit-content;
          font-family: SharpGroteskSemiBold25;
          font-size: 16px;
          font-weight: 600;
          line-height: 21px;
          border-radius: 48px;
          border: 1px solid var(--primary-color-cosmic-blue);
          color: var(--primary-color-dreamy-periwinkle);
          padding: 8px 15px;

          .code-symbol {
            font-family: SharpGroteskBook20;
            font-size: 14px;
            font-weight: 400;
          }
        }
        .footer-address-box {
          margin-top: 40px;
          display: flex;
          justify-content: center;
          align-items: flex-start;

          .footer-address-box-locationIcon {
            display: flex;
            align-self: flex-start;
            margin-right: 10px;
          }
          .footer-address-box-locationContent {
            .footer-address-box-locationContent-country {
              color: var(--secondary-color-dark);
              font-family: SharpGroteskMedium25;
              font-size: 18px;
              font-weight: 500;
              line-height: 22px;
            }

            .footer-address-box-locationContent-address {
              margin-top: 15px;
              color: var(--primary-color-cosmic-blue);
              font-family: SharpGroteskBook20;
              font-size: 16px;
              font-weight: 400;
              line-height: 21px;
            }

            .footer-address-box-locationContent-email {
              margin-top: 15px;
              display: flex;
              align-items: center;
              color: var(--secondary-color-dark);
              font-size: 16px;
              font-family: SharpGroteskMedium25;
              font-weight: 400;
              line-height: 21px;

              .footer-address-box-locationContent-arrow-right {
                margin-left: 8px;
              }
            }
          }
        }
      }

      .footer-sidemap {
        @media screen and (max-width: 320px) {
          margin-top: 50px;
        }
        .footer-sidemap-title {
          width: fit-content;
          font-family: SharpGroteskSemiBold25;
          font-size: 16px;
          font-weight: 600;
          line-height: 21px;
          border-radius: 48px;
          border: 1px solid var(--primary-color-cosmic-blue);
          color: var(--primary-color-dreamy-periwinkle);
          padding: 8px 15px;
          margin-bottom: 40px;

          .code-symbol {
            font-family: SharpGroteskBook20;
            font-size: 14px;
            font-weight: 400;
          }
        }
        .footer-sidemap-list {
          margin-top: 18px;
          display: flex;
          align-items: center;
          color: var(--secondary-color-dark);
          font-size: 16px;
          font-family: SharpGroteskMedium25;
          font-weight: 400;
          line-height: 21px;

          .footer-sidemap-list-arrow-right {
            margin-left: 8px;
          }
        }
      }
    }
    .footer-third {
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      @media screen and (max-width: 320px) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }

      .footer-third-first {
        display: flex;

        @media screen and (max-width: 320px) {
          flex-direction: column;
        }
      }

      .footer-third-second {
        display: flex;
        gap: 25px;

        .social-media {
          margin-top: 40px;

          .social-media-logo {
            align-self: flex-end;
          }
        }
      }
    }
  }
}
