footer {
  background: var(--primary-color-pure-dark);
  padding: 50px 15% 40px 15%;
  margin-top: 40px;

  @media screen and (max-width: 480px) {
    padding: 20px;
  }

  .footer-main {
    .footer-first {
      margin-bottom: 80px;
      @media screen and (max-width: 480px) {
        margin-bottom: 0;
      }
      .footer-statement {
        display: flex;
        margin-top: 40px;
        max-width: 557px;
        height: fit-content;
        color: var(--primary-color-cosmic-blue);
        font-family: SharpGroteskSemiBold25;
        font-size: 32px;
        font-weight: 600;

        @media screen and (max-width: 480px) {
          height: fit-content;
          font-size: 25px;
        }

        .footer-statement-text {
          margin-left: 10px;
          margin-right: 10px;
        }

        .quotes {
          height: 30px;

          @media screen and (max-width: 480px) {
            height: 15px;
          }
        }
      }
    }
    .footer-second {
      margin-bottom: 87px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      @media screen and (max-width: 480px) {
        flex-direction: column;
        margin-bottom: 50px;
      }

      .footer-address {
        margin-right: 185px;

        @media screen and (max-width: 480px) {
          margin: 50px 0 0 0;
        }

        .footer-address-title {
          width: fit-content;
          font-family: SharpGroteskSemiBold25;
          font-size: 16px;
          font-weight: 600;
          line-height: 21px;
          border-radius: 48px;
          border: 1px solid var(--primary-color-cosmic-blue);
          color: var(--primary-color-dreamy-periwinkle);
          padding: 4px 8px;
          margin-bottom: 40px;

          .code-symbol {
            font-family: SharpGroteskBook20;
            font-size: 14px;
            font-weight: 400;
          }
        }
        .footer-address-box {
          margin-top: 25px;
          display: flex;
          justify-content: flex-start;
          align-items: center;

          .footer-address-box-locationIcon {
            display: flex;
            align-self: flex-start;
            margin-right: 10px;
          }
          .footer-address-box-locationContent {
            .footer-address-box-locationContent-country {
              color: var(--secondary-color-dark);
              font-family: SharpGroteskMedium25;
              font-size: 18px;
              font-weight: 500;
              line-height: 22px;
            }

            .footer-address-box-locationContent-address {
              margin-top: 15px;
              color: var(--primary-color-cosmic-blue);
              font-family: SharpGroteskBook20;
              font-size: 16px;
              font-weight: 400;
              line-height: 21px;
            }

            .email {
              margin-top: 15px;
              display: flex;
              align-items: flex-start;
              color: var(--secondary-color-dark);
              font-size: 16px;
              font-family: SharpGroteskMedium25;
              font-weight: 400;
              line-height: 21px;

              @media screen and (max-width: 480px) {
                font-size: 12px;
              }

              .footer-address-box-locationContent-arrow-right {
                margin-left: 8px;
              }
            }
          }
        }
      }

      .footer-sidemap {
        @media screen and (max-width: 480px) {
          margin-top: 50px;
        }
        .footer-sidemap-title {
          width: fit-content;
          font-family: SharpGroteskSemiBold25;
          font-size: 16px;
          font-weight: 600;
          line-height: 21px;
          border-radius: 48px;
          border: 1px solid var(--primary-color-cosmic-blue);
          color: var(--primary-color-dreamy-periwinkle);
          padding: 4px 8px;
          margin-bottom: 40px;

          .code-symbol {
            font-family: SharpGroteskBook20;
            font-size: 14px;
            font-weight: 400;
          }
        }
        .footer-sidemap-list {
          margin-top: 20px;
          display: flex;
          align-items: center;
          color: var(--secondary-color-dark);
          font-size: 16px;
          font-family: SharpGroteskMedium25;
          font-weight: 400;
          line-height: 21px;
          position: relative;

          .footer-sidemap-list:after {
            content: "";
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: var(--secondary-color-dark);
            transform-origin: bottom left;
            transition: transform 0.25s ease-out;
          }
        }
      }
    }
    .footer-third {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: 480px) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }

      .privacyCookie {
        display: flex;
        margin: 32px 0 0 0;

        @media screen and (max-width: 480px) {
          flex-direction: column;
        }
      }

      .social-media-section {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .social-media {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 83px;
          height: 85px;

          .social-media-icon {
            display: block;
            width: 42px;
            height: 42px;
            flex-shrink: 0;
          }
          .social-media-icon-hover {
            width: 100%;
            height: 100%;
            flex-shrink: 0;
            display: none;
          }

          &:hover {
            .social-media-icon {
              display: none;
            }
            .social-media-icon-hover {
              display: block;
            }
          }
        }
      }
    }
  }
}
