#form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: var(--primary-color-pure-dark);
  padding: 100px 295px;

  .form-main {
    .form-title {
      width: fit-content;
      font-family: SharpGroteskSemiBold25;
      font-size: 16px;
      font-weight: 600;
      line-height: 21px;
      border-radius: 48px;
      border: 1px solid var(--primary-color-dark);
      color: var(--primary-color-cosmic-blue);

      .code-symbol {
        font-family: SharpGroteskBook20;
        font-size: 14px;
        font-weight: 400;
      }
    }
    .form-question {
      margin-top: 25px;
      color: var(--secondary-color-dark);
      font-family: SharpGroteskSemiBold25;
      font-size: 43px;
      font-weight: 600;
    }
    form {
      width: 456px;
      margin-top: 60px;

      input,
      select,
      textarea {
        border: 2px solid var(--secondary-color-dark);
        border-radius: 20px;
        color: var(--secondary-color-dark);
        background: var(--primary-color-pure-dark);
        box-shadow: none;
      }
      label {
        color: var(--secondary-color-dark);

        &::after {
          background: none;
          background-color: none;
        }
      }

      .form-switch .form-check-input {
        background-image: url(./assets/checkbox_round.svg);
        background-size: 12px 12px;
        background-repeat: no-repeat;
      }

      .form-switch .form-check-input:checked {
        background-image: url(./assets/checkbox_round.svg);
        background-size: 12px 12px;
        background-repeat: no-repeat;
        background-position: right center;
      }

      .btnformsubmit {
        display: flex;
        justify-content: flex-end;

        .formsubmitBtn {
          margin-top: 25px;
          padding: 15px 25px;
          border-radius: 8px;
          background: var(--secondary-color-dark);
          outline: none;
          border: none;
          color: var(--primary-color-dark);
          font-family: SharpGroteskMedium25;
          font-size: 16px;
          font-weight: 500;
          line-height: 21px;

          .btnIcon {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
