header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 25px 40px;
  background: var(--primary-color-pure-dark);

  .header-titles {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;

    .header-title {
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 8px;
        background: var(--primary-color-dark);

        .header-title-arrow {
          transition: transform 0.3s ease;
          transform: rotate(180deg);
        }
      }

      .header-title-text {
        display: flex;
        color: var(--secondary-color-dark);
        font-size: 16px;
        font-weight: 500;
        line-height: 21px;
        text-decoration: none;
        font-family: SharpGroteskMedium25;

        .header-title-arrow {
          width: 16px;
          height: 16px;
          margin-left: 5px;
        }
      }

      .dropdown-who-we-are {
        display: none;
        position: absolute;
        background-color: #333;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
      }

      .dropdown-services {
        display: none;
        position: absolute;
        background-color: #333;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
      }
    }

    .header-title-contact-us {
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      .header-title-contact-us-text {
        display: flex;
        color: var(--secondary-color-dark);
        font-size: 16px;
        font-weight: 500;
        line-height: 21px;
        text-decoration: none;
        font-family: SharpGroteskMedium25;

        .contact-us-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 4px 4px 4px 15px;
          background: var(--primary-color-dark);
          border-radius: 40px;
        }

        .contact-us-text {
          font-size: 16px;
          font-weight: 500;
          line-height: 21px;
          margin-right: 28px;
        }

        .circle {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 34px;
          height: 34px;
          border-radius: 50%;
          background: var(--secondary-color-dark);
        }
      }
    }
  }
}
