#media-center-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 100px 15%;

  @media screen and (max-width: 576px) {
    padding: 20px;
  }

  .media-center-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .media-center-title {
      font-family: SharpGroteskSemiBold25;
      font-size: 16px;
      font-weight: 600;
      line-height: 21px;
      border-radius: 48px;
      border: 1px solid var(--primary-color-dark);
      color: var(--primary-color-cosmic-blue);
      padding: 4px 8px;

      .code-symbol {
        font-family: SharpGroteskBook20;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
      }
    }

    .media-center-main-text {
      text-align: center;
      color: var(--primary-color-deep-dark);
      font-family: SharpGroteskSemiBold25;
      font-size: 54px;
      font-weight: 600;
      max-width: 650px;
      line-height: normal;
      margin-top: 25px;

      @media screen and (max-width: 576px) {
        font-size: 32px;
      }

      .r {
        font-weight: 400;
      }
    }

    .media-center-main-subText {
      text-align: center;
      color: var(--primary-color-cosmic-blue);
      font-family: SharpGroteskMedium20;
      font-size: 24px;
      font-weight: 500;
      line-height: 32px;
      max-width: 650px;
      margin-top: 25px;
    }

    .media-center-cta-btn {
      margin-top: 40px;
      padding: 15px 25px;
      border-radius: 8px;
      background: var(--secondary-color-dark);
      outline: none;
      border: none;
      color: var(--primary-color-dark);
      font-family: SharpGroteskMedium25;
      font-size: 16px;
      font-weight: 500;
      line-height: 21px;

      .view-all-btn-icon {
        margin-left: 10px;
      }
    }
  }

  #carouselExample {
    width: 100%;
    max-width: 1286px;
    min-height: 610px;
    margin-top: 60px;

    .carousel-inner {
      display: flex;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 576px) {
        display: grid;
      }

      .carousel-item {
        max-width: 358px;
        .card {
          max-width: 358px;
          border: none;

          .img-wrapper {
            display: flex;
            justify-content: center;
            align-items: flex-start;

            img {
              max-width: 358px;
            }
          }

          .card-body {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: flex-start;
            max-width: 358px;
            padding: 25px 15px;
            border-radius: 0px 0px 24px 24px;
            background: var(--primary-color-ethereal-white);
            min-height: 322px;

            .calendar {
              margin-bottom: 25px;
              color: var(--primary-color-cosmic-blue);
              font-family: SharpGroteskMedium20;
              font-size: 16px;
              font-weight: 500;
              line-height: 21px;
            }

            .card-title {
              color: var(--primary-color-dark);
              font-family: SharpGroteskSemiBold25;
              font-size: 16px;
              font-weight: 600;
              line-height: 22px;
              // min-height: 132px;
            }

            .card-text {
              overflow: hidden;
              color: var(--primary-color-cosmic-blue);
              text-overflow: ellipsis;
              font-family: SharpGroteskBook20;
              font-size: 14px;
              font-weight: 400;
              line-height: 21px;
              margin-bottom: 25px !important;
              // min-height: 147px;
            }

            .card-btn {
              color: var(--primary-color-dark);
              font-family: SharpGroteskMedium25;
              font-size: 14px;
              font-weight: 500;
              line-height: 21px;
              align-self: flex-end;
            }
          }
        }
      }

      .carousel-items-wrapper {
        max-width: 1170px;
      }
    }

    .carousel-control-prev,
    .carousel-control-next {
      width: 34px;
      height: 34px;
      background-color: var(--primary-color-dark);
      border-radius: 50%;
      top: 50%;
      opacity: 1;
      transform: translateY(-50%);

      &:hover {
        background: #555bfb;
        border: 2px solid #1d10b6;
      }

      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        width: 12px;
        height: 17px;
      }

      .carousel-control-prev-icon {
        background-image: url(../assets/carousel_pre_icon.svg);
      }

      .carousel-control-next-icon {
        background-image: url(../assets/carousel_next_icon.svg);
      }
    }

    @media screen and (min-width: 576px) {
      .carousel-inner {
        .carousel-item {
          display: block;
          margin-right: 15px;
          flex: 0 0 calc(100% / 3);
        }
      }
    }
  }
}
