#parallax-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--secondary-color-dark);
  padding: 55px 0;
  overflow: hidden;

  .parallax-text-left,
  .parallax-text-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    white-space: nowrap;
    width: 100vw;

    @media screen and (max-width: 576px) {
      width: 320px;
    }

    .parallax-text-branches {
      color: var(--primary-color-pure-dark);
      font-size: 78px;
      font-weight: 400;
      margin-right: 40px;
      font-family: SharpGroteskBook25;

      @media screen and (max-width: 576px) {
        font-size: 42px;
      }

      .parallax-text-branches-symbol {
        color: var(--primary-color-cosmic-blue);
        text-align: center;
        font-size: 78px;
        font-weight: 400;

        @media screen and (max-width: 576px) {
          font-size: 42px;
        }
      }
    }
  }

  @keyframes slide-left {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @keyframes slide-right {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }

  .parallax-text-left {
    animation: slide-left 25s linear infinite;

    @media screen and (max-width: 576px) {
      animation: slide-left 10s linear infinite;
    }
  }

  .parallax-text-right {
    margin-top: 50px;
    animation: slide-right 25s linear infinite;

    @media screen and (max-width: 576px) {
      animation: slide-right 10s linear infinite;
    }
  }
}
