#our-portfolio-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 100px 0 100px 15%;

  @media screen and (max-width: 576px) {
    justify-content: center;
    padding: 30px 20px;
  }

  .our-portfolio-section-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    width: 100%;

    @media screen and (max-width: 576px) {
      align-items: center;
    }

    .our-portfolio-section-main-title {
      color: var(--primary-color-cosmic-blue);
      font-family: SharpGroteskSemiBold25;
      font-size: 16px;
      font-weight: 600;
      line-height: 21px;
      border-radius: 48px;
      border: 1px solid var(--primary-color-dark);
      padding: 4px 8px;
      width: fit-content;

      .code-symbol {
        font-family: SharpGroteskBook20;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
      }
    }

    .our-portfolio-section-main-text {
      color: var(--primary-color-deep-dark);
      font-family: SharpGroteskSemiBold25;
      font-size: 54px;
      font-weight: 600;
      width: 650px;
      line-height: normal;

      @media screen and (max-width: 576px) {
        width: 280px;
        text-align: center;
        font-size: 32px;
      }
    }

    .our-portfolio-section-main-subText {
      color: var(--primary-color-cosmic-blue);
      font-family: SharpGroteskMedium20;
      font-size: 24px;
      font-weight: 500;
      line-height: 32px;
      max-width: 650px;

      @media screen and (max-width: 576px) {
        width: 280px;
        font-size: 24px;
        text-align: center;
      }
    }

    .our-portfolio-section-main-view-all-cases-btn {
      margin-top: 15px;
      margin-bottom: 35px;
      padding: 15px 25px;
      border-radius: 8px;
      background: var(--secondary-color-dark);
      outline: none;
      border: none;
      color: var(--primary-color-dark);
      font-family: SharpGroteskMedium25;
      font-size: 16px;
      font-weight: 500;
      line-height: 21px;
      width: fit-content;

      .view-all-btn-icon {
        margin-left: 10px;
      }
    }

    .case-category {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      @media screen and (max-width: 576px) {
        flex-direction: column;
      }

      .case-category-form {
        display: flex;
        flex-direction: column;
        gap: 15px;

        @media screen and (max-width: 576px) {
          margin-left: 15px;
        }

        .form-check {
          display: flex;
          align-items: flex-start;
          border-radius: 8px;
          background: var(--primary-color-ethereal-white);
          padding: 8px;
          min-width: 260px;
          gap: 10px;

          &:hover {
            background: var(--primary-color-dreamy-periwinkle);
          }

          .form-check-label {
            color: var(--primary-color-deep-dark);
            font-family: SharpGroteskMedium20;
            font-size: 18px;
            font-weight: 500;
            line-height: 22px;
          }
        }
      }

      .card-boxes {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;

        @media screen and (max-width: 576px) {
          flex-direction: column;
        }

        img {
          width: 100%;
          border-radius: 32px;
        }

        .card-box {
          display: flex;
          flex-direction: column;
          position: relative;
          max-width: 358px;
          max-height: 468px;
          margin-left: 30px;

          &:hover {
            .card-box-description {
              background: #dbdeff;
            }

            .card-box-image {
              opacity: 30%;
            }

            .card-box-circle {
              border: 1px solid var(--primary-color-dark);
            }
          }

          @media screen and (max-width: 576px) {
            max-width: 280px;
            margin-bottom: 30px;
            margin-left: 0;
            margin-right: 0;
          }

          .img-background {
            background: #1d10b64d;
            margin-bottom: 23px;
            border-radius: 32px;
          }

          .card-box-image {
            position: relative;
          }

          .card-box-circle {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            align-self: end;
            width: 34px;
            height: 34px;
            border-radius: 50%;
            background: white;
            top: 10px;
            right: 10px;

            @media screen and (max-width: 576px) {
              right: 4%;
            }

            img {
              width: 75%;
            }
          }

          .card-box-description {
            display: flex;
            flex-direction: column;
            padding: 8px;
            border-radius: 8px;
            color: var(--texts-text-brand-secondary, #555bfb);
            font-family: SharpGroteskBook20;
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;

            @media screen and (max-width: 576px) {
              margin-top: 10px;
            }

            .brand-name {
              color: var(--primary-color-dark);
              font-family: SharpGroteskSemiBold25;
              font-size: 18px;
              font-weight: 600;
              line-height: 22px;
              margin-bottom: 8px;
            }

            .ui-design {
              color: var(--primary-color-dark);
              font-family: SharpGroteskBook20;
              font-size: 18px;
              font-weight: 400;
              line-height: 22px;
            }
          }
        }
      }
    }
  }
}
