#our-services-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0 30px 0;

  @media screen and (max-width: 480px) {
  }

  .our-services-main-codetext {
    color: var(--primary-color-dreamy-periwinkle);
    border-radius: 48px;
    padding: 4px 8px;
    border: 1px solid var(--primary-color-dark);
    font-size: 16px;
    font-family: SharpGroteskSemiBold25;
    font-weight: 600;
    line-height: 21px;

    .code-symbol {
      font-family: SharpGroteskBook20;
      font-size: 14px;
      font-weight: 400;
    }
  }

  .our-services-main-text {
    max-width: 651px;
    margin-top: 25px;
    color: var(--secondary-color-dark);
    text-align: center;
    font-size: 54px;
    font-family: SharpGroteskSemiBold25;
    font-weight: 600;
    font-style: normal;
    line-height: normal;

    @media screen and (max-width: 480px) {
      font-size: 32px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .our-services-main-subtext {
    max-width: 651px;
    margin-top: 25px;
    color: var(--primary-color-cosmic-blue);
    text-align: center;
    font-size: 24px;
    font-family: SharpGroteskMedium20;
    font-weight: 500;
    line-height: 32px;

    @media screen and (max-width: 480px) {
      font-size: 18px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .explore-mecy {
    margin-top: 40px;
    display: flex;
    align-items: flex-start;
    color: var(--secondary-color-dark);
    font-size: 16px;
    font-family: SharpGroteskMedium25;
    font-weight: 400;
    line-height: 21px;

    cursor: pointer;

    .explore-mecy-text {
      position: relative;
      padding-bottom: 10px;
    }

    @media screen and (max-width: 480px) {
      font-size: 12px;
    }

    .explore-mecy-arrow-right {
      margin-left: 8px;
      display: block;
    }

    .explore-mecy-arrow-right-new {
      margin-left: 8px;
      display: none;
    }

    &:hover {
      .explore-mecy-arrow-right {
        margin-left: 8px;
        display: none;
      }

      .explore-mecy-arrow-right-new {
        margin-left: 8px;
        display: block;
      }
    }
  }

  .explore-mecy-text::after {
    content: "";
    position: absolute;
    left: 0;
    right: 100%;
    bottom: 0;
    height: 2px;
    background-color: transparent;
    transition: right 0.2s ease, background-color 0.3s ease;
  }

  .explore-mecy-text:hover::after {
    background-color: var(--secondary-color-dark);
    right: 0;
  }
}
