#values-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 100px 0;

  @media screen and (max-width: 320px) {
    flex-direction: column;
    gap: 25px;
    padding: 20px;
  }

  .company-value {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    max-width: 360px;
    min-height: 420px;
    margin: 0 15px;

    .values-img-background {
      padding: 35px;
      border-radius: 40px;
      border: 2px solid var(--primary-color-pure-dark);
      background: var(--primary-color-dark);
      box-shadow: 0px 3px 4px 0px #555bfb inset,
        0px 6px 20px 0px rgba(29, 16, 182, 0.6);
    }

    .values-title {
      margin-top: 40px;
      color: var(--secondary-color-dark);
      text-align: center;
      font-family: SharpGroteskMedium25;
      font-size: 24px;
      font-weight: 500;
      line-height: 32px;
    }

    .values-description {
      margin-top: 40px;
      overflow: hidden;
      color: var(--primary-color-dreamy-periwinkle);
      text-overflow: ellipsis;
      white-space: wrap;
      font-family: SharpGroteskBook20;
      font-size: 16px;
      font-weight: 400;
      line-height: 21px;
      text-align: left;

      .values-description-first-line {
        color: var(--secondary-color-dark);
      }
    }
  }
}
